<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208670504158-jvuepmknjleur67astlk0sdok47fikjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208670504158-jvuepmknjleur67astlk0sdok47fikjp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_x8M9DdvVTOFmSFcfTJPMlDn38LuILso</string>
	<key>GCM_SENDER_ID</key>
	<string>208670504158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTry</string>
	<key>PROJECT_ID</key>
	<string>fluttertry-13037</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertry-13037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208670504158:ios:b97dcf6846ee0ce626be4f</string>
</dict>
</plist>